@model DBA.Model.Apply
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="warp">
  <div class="ads">
    <img alt="" src="/Content/images/banner2.jpg" width="100%">
  </div>
  <div class="listpage clearfix">
    
    <div class="rcon">
      <ol class="breadcrumb">
        <li><a href="/Home/Index">首页</a></li>
        <li class="active"> -  详细内容</li>
      </ol>
      <div class="newscon">
        <iframe src="/Apply/Create?ID=@Model.ID" style="width:980px;height:1300px;" border="0"></iframe>
      </div>
    </div>
  </div>
</div>
      </div>