@model Conris.DBA.ViewModel.JobNewsSearch
           <script type="text/javascript" src="/Content/js/jquery.js"></script>
 @using (Html.BeginForm("JobNewsManage", "JobNews", new RouteValueDictionary { { "Page", "" } }, FormMethod.Get, new { @id = "UserSub" }))
 {
    <div class="tools" >
        <div style=" float:left; height:100%;text-align:center;padding:10px;">
      标题：@Html.TextBoxFor(m => m.Title, new { @style = "height:20px;" })
            
             信息栏目：<select name="Category" id="selcategory">
               <option value="">请选择</option>
               <option value="医院概况">医院概况</option>
               <option value="医院动态">医院动态</option>
               <option value="医疗器械">医疗器械</option>
               <option value="专家介绍">专家介绍</option>
               <option value="医院环境">医院环境</option>
                <option value="医院荣誉">医院荣誉</option>
                <option value="专家会诊">专家会诊</option>
              <option value="特色疗法">特色疗法</option>
                                  </select>
             </div>
        <div>    	<ul class="toolbar" >
            
            <li  onclick="Submit()"><span></span>搜索</li>
   
           
        </ul>
        </div>

        
   
        </div>
 }
<script type="text/ecmascript">
    function Submit() {
        $("#UserSub").submit();
    }
</script>